:root{
    font-size: 20px;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content:end;
}

// kill the scrollbar
html {
    overflow-y: scroll; /* always scroll, prevents layout jump */
    scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
    width: 0; /* Chrome, Edge, Safari */
    background: transparent; 
}

