.paw{
    height: 10rem;
    padding: 50px;
    background-color: rgb(30, 32, 44);
}

.socials-bar{
    display: flex;
    align-items: center;
}

.icon{
    margin: 10px;
    width: 1.5rem;
    height: auto;
}

.icon-link{
    text-decoration: none;
    color: white;
}

// .x-icon{
//     margin: 10px;
//     width: 1.5rem;
//     height: auto;
// }

// .X{
//     display: flex;
//     align-items: center;
// }

