:root{
    font-size: 20px;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: $oxford-blue;
    cursor: none;
    // display: flex;
    // flex-direction: column;
    // justify-content:end;
}

.cursor-dot{
    display: none; //we will bring it dynamically after the intro
    position: fixed;
    border-radius: 50%;
    background-color: white;
    height: 15px;
    width: 15px;
    top: 0px;
    left: 0px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 2000;
}

// kill the scrollbar
html {
    overflow-y: scroll; /* always scroll, prevents layout jump */
    scrollbar-width: none; /* Firefox */
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0; /* Chrome, Edge, Safari */
    background: transparent; 
}

a {
    text-decoration: none;
    color: inherit;
}

